<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1 class="display-3">My First Dictionary!</h1>
      <p class="lead">The interactive online dictionary you can add words to.</p>
      <hr class="my-4">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <p id="dictionary-header">Your Dictionary</p>
      </div>
      <div class="card-body">
        <ul>
        <% @current_dictionary.each do |word| %>
          <li><a href="/<%= word.id %>"><%= word.the_word %></a></li>
        <% end %>
        </ul>
      </div>
      <div class="card-footer text-muted">
        <!-- COOLEST GEM EVER!!!!!! DECODES THE TIME FROM THE ID HASH!!! Giving me PERFECT, UNIQUE, FUNCTIONAL ids for my site!! -->
        Last word added @ <%= @current_dictionary.last.decodr %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <form action="/new_word" method="post">
          <div class="form-group">
            <label id="nw-label" for="nw">Enter a word:</label>
              <input id="nw" name="new_word" class="form-control form-control-lg" type="text" placeholder="Ex. Apple">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Add it to your dictionary!</button>
        </form>
      </div>
    </div>
  </div>
</div>
