<div class="row">
  <div class="col-lg-12">
    <div class="card nav-card bg-primary mb-3">
      <div class="card-body text-white">
        <p class="card-title" id="front-page">My First Dictionary! The interactive online dictionary you can add words to.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <form action="/new_word" method="post">
          <div class="form-group row">
            <label id="nw-label" for="nw" class="col-lg-2 col-form-label">Enter a word:</label>
            <div class="col-lg-10">
              <input id="nw" name="new_word" class="form-control form-control-lg" type="text" placeholder="Ex. Apple">
            </div>
          </div>
          <button type="submit" id="add" class="btn btn-primary btn-lg btn-block">Add your first word to your dictionary!</button>
        </form>
      </div>
    </div>
  </div>
</div>
